<div class="container-fluid">
    <div class="bg-info" style="height:500px;">
        <div class="row justify-content-center" style="height:100px; ">
            <div class="col-md-4 col-12 bg-warning d-flex justify-content-around align-items-center"
                style=" border-radius:20px;">
                <div style="font-size:22px">
                    <a href="">
                        <fa-icon [icon]="fabus"></fa-icon>
                        <pre>Buses</pre>
                    </a>
                </div>
                <div style="font-size:22px">
                    <a href="">
                        <fa-icon [icon]="fahotel"></fa-icon>
                        <pre>Hotels</pre>
                    </a>
                </div>
                <div style="font-size:22px">
                    <a href="">
                        <fa-icon [icon]="faplane"></fa-icon>
                        <pre>Flights</pre>
                    </a>
                </div>

            </div>

        </div>

        <div class="row justify-content-center align-items-center" style="height:300px;">
            <div class="col-md-10 col-12 bg-light d-flex " style="height:300px; border-radius:20px;">
                <div class="input-group d-flex align-items-center mb-3 " [formGroup]="">
                    <input type="text" class="form-control h-25 " placeholder="From" aria-label="Username"
                        aria-describedby="basic-addon1">
                    <input type="text" class="form-control h-25 " placeholder="To" aria-label="Username"
                        aria-describedby="basic-addon2">
                    <input type="date" class="form-control h-25 " aria-label="Username" aria-describedby="basic-addon3">
                    <input name="" id="" class="form-control btn btn-outline-primary  h-25 " type="button"
                        value="SEARCH">
                </div>
            </div>

        </div>
    </div>

    <div class="col mt-3 d-flex justify-content-center">
        <h2>Travel Blog</h2>
    </div>

    <div class="row mt-3 pt-3 bg-secondary text-light" style="height:400px;">


        <div class="col-3 h-50 d-flex flex-column">
            <img src="assets/travel3.jpg" class="img-fluid" alt="Responsive image">
            <p class="pt-2"> The country of Italy epitomises the holiday destination of dreams. It is a nation that is
                defined by magnificent cities, ancient sights, cultural treasures, and beautiful scenery. There are so
                many choices for travellers; it's simply hard to know where to begin. </p>
        </div>
        <div class="col-3 h-50 ">
            <img src="assets/travel2.jpg" class="img-fluid" alt="Responsive image">
            <p class="pt-2">Hong Kong, located in the Indian Ocean, with its beautiful locales and endless line of
                skyscrapers. It is one destination that has it all from a great nightlife to stunning tourist sites; the
                travelers absolutely love this Chinese province.</p>
        </div>
        <div class="col-3 h-50 ">
            <img src="assets/travel11.jpg" class="img-fluid" alt="Responsive image">
            <p class="pt-2">Thailand tour could be a great way to get a sense of South-East Asia and its glorious
                beaches.Bangkok can leave you dizzy with its eclectic offerings. Whether it is kayaking or diving you
                wish to pursue in the emerald waters of Krabi or simply watch the traditional boats harboured on the
                white sands of the Phi Phi Islands. </p>

        </div>
        <div class="col-3 h-50 ">
            <img src="assets/travel10.jpg" class="img-fluid" alt="Responsive image">
            <p class="pt-2"> Indonesia is a beautiful country that fascinates many tourists around the world. Besides
                being famous as the largest archipelago in the world, the country is also renowned for the stunning
                islands and abundance of natural treasures in the form of flora and fauna.</p>

        </div>

    </div>
    <div class="col mt-3 d-flex justify-content-center">
        <h2>About Us</h2>
    </div>

    <div class="row mb-2 mt-4 " style="background: rgb(189, 158, 158); height: 50vh;">
        <div class="col-md-4"
            style="display: flex; flex-direction: column; justify-content:center; background: rgb(204, 164, 164);">
            <div style="font-weight: bold; font-size: 20px;">Why MakeMyTrip?</div>
            <div style="text-align: start; margin-top: 5px; font-size: 15px;">The leading player in online flight
                bookings in
                India, MakeMyTrip offers great offers, some of the lowest
                airfares, exclusive discounts and a seamless online booking experience. Flight, hotel and holiday
                bookings
                through the desktop or mobile site is a delightfully customer friendly experience, and with just a few
                clicks
                you can complete your booking. With features like Instant Discounts, Fare Calendar, MyRewards Program,
                MyWallet
                and many more, the overall booking experience with MakeMyTrip constantly adds value to its product and
                continues
                to offer the best to its customers.</div>
        </div>
        <div class="col-md-4"
            style="display: flex; flex-direction: column; justify-content:center; background: rgb(204, 164, 164);">
            <div style="font-weight: bold; font-size: 20px;">Booking Flights with MakeMyTrip</div>
            <div style="text-align: start; margin-top: 5px; font-size: 15px;">Book your flights tickets with India's
                leading
                flight booking company since the year 2000. While booking
                flights with MakeMyTrip, you can expect the ultimate online booking experience. With premium customer
                service,
                24/7 dedicated helpline for support, and over 5 million delighted customers, MakeMyTrip takes great
                pride in
                enabling customer satisfaction. With a cheapest flight guarantee, book your tickets at the lowest
                airfares.
                Avail great offers, exclusive deals for loyal customers and get instant updates for your flight status
                and fare
                drops.</div>
        </div>
        <div class="col-md-4"
            style="background: rgb(204, 164, 164); display: flex; flex-direction: column; justify-content: center;">
            <div style="font-weight: bold; font-size: 20px;">Domestic Flights with MakeMyTrip</div>
            <div style="text-align: start; margin-top: 5px;  font-size: 15px;">MakeMyTrip is India's leading player for
                flight
                bookings, and have a dominant position in the domestic
                flights sector. With the cheapest fare guarantee, experience great value at the lowest price. Instant
                notifications ensure current flight status, instant fare drops, amazing discounts, instant refunds and
                rebook
                options, price comparisons and many more interesting features.</div>
        </div>
    </div>








</div>