<div class="container-fluid">
    <div class="col mt-3 d-flex justify-content-center">
        <h2>About Us</h2>
    </div>

    <div class="row mb-2 mt-4 " style="background: rgb(189, 158, 158); height: 50vh;">
        <div class="col-md-4"
            style="display: flex; flex-direction: column; justify-content:center; background: rgb(204, 164, 164);">
            <div style="font-weight: bold; font-size: 20px;">Why MakeMyTrip?</div>
            <div style="text-align: start; margin-top: 5px; font-size: 15px;">The leading player in online flight
                bookings in
                India, MakeMyTrip offers great offers, some of the lowest
                airfares, exclusive discounts and a seamless online booking experience. Flight, hotel and holiday
                bookings
                through the desktop or mobile site is a delightfully customer friendly experience, and with just a few
                clicks
                you can complete your booking. With features like Instant Discounts, Fare Calendar, MyRewards Program,
                MyWallet
                and many more, the overall booking experience with MakeMyTrip constantly adds value to its product and
                continues
                to offer the best to its customers.</div>
        </div>
        <div class="col-md-4"
            style="display: flex; flex-direction: column; justify-content:center; background: rgb(204, 164, 164);">
            <div style="font-weight: bold; font-size: 20px;">Booking Flights with MakeMyTrip</div>
            <div style="text-align: start; margin-top: 5px; font-size: 15px;">Book your flights tickets with India's
                leading
                flight booking company since the year 2000. While booking
                flights with MakeMyTrip, you can expect the ultimate online booking experience. With premium customer
                service,
                24/7 dedicated helpline for support, and over 5 million delighted customers, MakeMyTrip takes great
                pride in
                enabling customer satisfaction. With a cheapest flight guarantee, book your tickets at the lowest
                airfares.
                Avail great offers, exclusive deals for loyal customers and get instant updates for your flight status
                and fare
                drops.</div>
        </div>
        <div class="col-md-4"
            style="background: rgb(204, 164, 164); display: flex; flex-direction: column; justify-content: center;">
            <div style="font-weight: bold; font-size: 20px;">Domestic Flights with MakeMyTrip</div>
            <div style="text-align: start; margin-top: 5px;  font-size: 15px;">MakeMyTrip is India's leading player for
                flight
                bookings, and have a dominant position in the domestic
                flights sector. With the cheapest fare guarantee, experience great value at the lowest price. Instant
                notifications ensure current flight status, instant fare drops, amazing discounts, instant refunds and
                rebook
                options, price comparisons and many more interesting features.</div>
        </div>
    </div>
</div>