<div class="container-fluid">
    <div class="row justify-content-center" style="height:100px;">
        <div class="col-12 bg-dark d-flex align-items-center px-5" style="border-radius:10px;">
            <input type="text" placeholder="From" class="form-control">
            <input type="text" placeholder="To" class="form-control">
            <input type="text" placeholder="Depart" class="form-control">
            <input type="button" value="Search" class="form-control btn btn-outline-info">
        </div>
    </div>
    <div class="row justify-content-center mt-5" style="height:100px; ">
        <div class="col-md-10 col-12 bg-info d-flex justify-content-center align-items-center"
            style="border-radius:10px;">

            <p class="text-light">data</p>
            <input type="button" value="View Buses" class="mx-5 text-light btn btn-outline-warning">
        </div>

    </div>



</div>