<div class="container-fluid border border-danger d-flex justify-content-center align-items-center"
    style="height:100vh;">

    <div class="col-md-8 col-12 p-0 bg-light d-flex flex-wrap" style="height:90%; border-radius:10px ;">

        <div class="col-md-6 col-12 bg-danger d-flex justify-content-center align-items-center"
            style="border-top-left-radius:10px; border-bottom-left-radius:10px;">

            <img src="assets\img-01.png" class="w-75 h-50">

        </div>

        <div class="col-md-6 col-12 justify-content-center ">


            <div class="d-flex flex-column align-items-center pt-5" [formGroup]="fpformgroup">
                <h1>Reset Password !!</h1>

                <input type="text" class="form-control pt-1.5 mt-5" name="email" placeholder="Email-Id"
                    formControlName="emailid">

                <input type="text" class="form-control pt-1.5 mt-5" name="user" placeholder="Username"
                    formControlName="username">

                <input type="password" class="form-control pt-1.5 mt-5" name="pass" placeholder="New-Password"
                    formControlName="upassword">
                <button class="btn btn-outline-danger w-100 " name="pass" style="margin-top:70px;"
                    [disabled]="!fpformgroup.valid" (click)="update()">Submit</button>.

            </div>

        </div>

    </div>